html
  head
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    link(rel="stylesheet" href="/static/style.css")
    //- script(src="/socket.io/socket.io.js")
    title joppers
  body
    .flex.flex-justifyCenter
      .container.flex.flex-alignCenter.flex-column
        h1 joppers
        #joystick.joystick
          #stick.joystick-stick
        .joinContainer
          input(typpe="text" id="gameId" value="jynkev")
          button(onclick="joinGame()") join
        #help

    script(src="/static/script.js")